if SHIELD_VECTOR_ACCEL_TEST

config ZMK_KEYBOARD_NAME
    default "Vector Test"

endif

if SHIELD_VECTOR_ACCEL_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Vec Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_VECTOR_ACCEL_SPLIT_LEFT || SHIELD_VECTOR_ACCEL_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif
