config ZMK_INPUT_VECTOR_ACCELERATION_TEST_RUNTIME
    bool "Run vector acceleration runtime self-tests"
    depends on ZMK_INPUT_PROCESSOR_VECTOR_ACCELERATION

config ZMK_INPUT_VECTOR_ACCELERATION_TEST_PERSISTENCE
    bool "Run vector acceleration persistence self-tests"
    depends on ZMK_INPUT_PROCESSOR_VECTOR_ACCELERATION && SETTINGS_NVS

config ZMK_INPUT_VECTOR_ACCELERATION_TEST_STUDIO
    bool "Run vector acceleration custom-settings self-tests"
    depends on ZMK_INPUT_VECTOR_ACCELERATION_CUSTOM_SETTINGS
